<body>
<head>
    <div>
        {% block title %}{% endblock %}
        
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename="bootstrap-3.3.7-dist/css/bootstrap.min.css") }}" rel="stylesheet">
        
    </div>
</head>    
    <div>
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename="bootstrap-3.3.7-dist/js/bootstrap.min.js") }}"> 


        </script>
        
        
   </div>
    <div id="footer">
        {% block footer %}
 &copy; Copyright 2018 by <a href="http://www.shiyanlou.com/">shiyalou</a>.
        {% endblock %}
    </div>
</body>
